
body{
    background-color: #682051;
}
.marbel {
  width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
    background-color: #fdfefe;

}
.marbel0 {
  width: 100px;
  margin-left: 30px;
  margin-right: 30px;
}
