* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $white; 
  padding-top: $spacer * 1.5; 
  padding-bottom: $spacer * 1.5;
  color: $text-main;
  font-family: $font-family-base;
}