body {
  font-family: sans-serif;
  margin: 0;
  background-color: #fdfdfd;
}

.game-container {
  position: relative;
  width: 780px;
  margin: 30px auto;
  transition: opacity 0.5s;
}

.game-info {
  text-align: center;
  margin-bottom: 10px;
}

.game-info h1 {
  font-size: 42px;
  color: #8080c0;
  margin: 0;
}

#msg {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #8080c0;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 5px #ccc;
}

#game-board {
  padding-top: 25px;
  background-color: #fdfdfd;
  border: 2px solid #8080c0;
  box-shadow: #8080c0 4px 4px 10px;
  text-align: center;
  border-radius: 10px;
  
}

.card {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: #8080c0 2px 2px 5px;
}

#winner-msg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 200px;
  font-size: 60px;
  font-weight: bold;
  color: #d4af37;
  z-index: 100;
  text-shadow: 2px 2px 4px #000;
}
